from mumax import *

msat(800e3)
aexch(1.3e-11)
alpha(2)

desc("n", {n})
lex = 5.6858e-9
d={n}*lex
partsize(5*d, d, 0.1*d)
maxcellsize(1.05*lex, 1.05*lex, inf)
uniform(1, 1, 0)


b = 0.0
run(10e-9)
maxdt(1e-14)
maxdm(1e-4)
run(10e-9)

##while getmx() > 0:
##	staticfield(b, 0, 0)
##	run(100e-12)
##	save("table", "ascii")
##	b -= 1e-4

save("m", "text")
save("m", "png")

remanencex = getm(0)
remanencey = getm(1)
remanencez = getm(2)

file = open("remanence.txt", "a")
file.write("{n} " + str(remanencex) + " " + str(remanencey) + " " + str(remanencez) + "\n")

