from mumax import *

# we chose lex fixed to 1

msat(800e3)
aexch(1.3e-11)
alpha(1)
maxdt(1e-12)

desc("n", {n})
lex = 5.6858e-9
d={n}*lex
partsize(5*d, d, 0.1*d)
maxcellsize(1.05*lex, 1.05*lex, inf)
uniform(1, 1, 0)


field = 0.0
relax()
remanence = getmx()

while getmx() > 0:
	staticfield(field, 0, 0)
	run(1e-12)
	relax()
	save("table", "ascii")
	field -= 1e-4

save("m", "text")
save("m", "png")

file = open("result.txt", "a")
file.write("{n} " + str(remanence) + " " + str(field) + "\n")

